@media only screen and (min-width: 1201px) and (max-width: 3840px) {
    .sidebar-md {
        display: none;
    }

    .page-topbar .navbar-header {
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 992px) and (max-width: 3000px) {

    /* FOR_FOOTER -- START */
    .wrapper footer {
        left: 16.5rem;
    }

    /* FOR_FOOTER -- START */
    .top-header {
        left: 16.5rem !important;
        width: calc( 100% - 16.5rem);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .sidebar-md {
        display: none;
    }

    .page-topbar .navbar-header {
        justify-content: flex-end;
    }

}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .sidebar-lg {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .sidebar-lg {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}

@media only screen and (min-width: 375px) and (max-width: 576px) {
    .sidebar-lg {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}

@media only screen and (min-width: 200px) and (max-width: 374px) {
    .sidebar-lg {
        display: none;
    }

    .main-content {
        margin-left: 0;
    }
}

@media (max-width:992px) {

    .main-content-rtl {
        margin-right: 0rem !important;
    }

}